<!-- Assignment L03-1: Fetch and process clinical data Immunization -->

<h6>Patient's Immunizations</h6>


<div class="table-wrapper">
  <table class="table table-hovered">
      <thead class="thead-light">
          <tr>
              <th scope="col">Status</th>
              <th scope="col">Date</th>
              <th scope="col">VaccineCode</th>
              <!-- <th scope="col">Was Not Given</th> -->
              <th scope="col">Self-reported</th>
              
          </tr>
      </thead>
      <tbody>
          <% immunizations.forEach((immunization,index)  => {
              
              %>
              <tr>
                  <td>
                      <%= immunization.status %>
                  </td>
                  <td>
                      <%= immunization.occurrenceDateTime %>
                  </td>
                  <td>
                      <%= immunization.vaccineCode.coding[0].code+" : "+immunization.vaccineCode.coding[0].display %>
                  </td>
                  <!-- <td>
                    <%= immunization.primarySource  %>
                  </td> -->
                  <td>
                      <%= immunization.primarySource  %>
                  </td>

              </tr>
              <% }) %>
      </tbody>
  </table>
</div>