<%- include ('./partials/header.ejs') %>
    <div class="container">
        <% if (message) { %>
            <p class="text-center text-danger">
                <%= message %>
            </p>
            <% } %>

                <% if (athlete) { %>
                    <div class="row">
                        <div class="col-md-4">
                            <label>First Name:</label>
                            <label style="font-weight:bold"><%= athlete.Given %></label>
                        </div>
                        <div class="col-md-4">
                            <label for="family">Last Name:</label>
                            <label style="font-weight:bold"><%= athlete.Family %></label>
                        </div>
                        <div class="col-md-4">
                            <label for="identifier">Identifier:</label>
                            <label style="font-weight:bold"><%= athlete.Identifier %></label>
                        </div>
                        <div class="col-md-4 ">
                            <label for="gender">Gender:</label>
                            <label style="font-weight:bold"><%= athlete.Gender %></label>
                        </div>
                        <div class="col-md-4">
                            <label for="birthDate">birthDate:</label>
                            <label style="font-weight:bold"><%= athlete.birthDate %></label>
                        </div>
                        <div class="col-md-4">
                            <label for="Team">Team</label>
                            <label style="font-weight:bold"><%= athlete.Team %></label>
                        </div>
                        <div class="col-md-4">
                            <label for="Position">Position</label>
                            <label style="font-weight:bold"><%= athlete.Position %></label>
                        </div>


                    </div>
                    <hr/>
                    <div>
                        <h4> Data from the FHIR Server</h4>
                        <div class="row">
                            <div class="col-md-4">

                                <label>Server Assigned Id:</label>
                                <label style="font-weight:bold"><%= patient.id %></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">

                                <label>Address</label>
                                <label style="font-weight:bold"><%= patient.address[0].line[0]+" "+patient.address[0].city+" "+patient.address[0].state+" "+patient.address[0].postalCode %></label>
                            </div>
                        </div>
                    
                        <% var phones = '' %> 
                        <% var emails = '' %>
                        <% var phoneCheck = false %> 
                        <% var emailCheck = false %> 
                        <% if (patient.telecom) { %> 
                            <% for (var i = 0; i < patient.telecom.length ; i++) { %>
        
                                <% if (patient.telecom[i].system == 'email') { %>
                                    <% if (emailCheck) { %>
                                        <% emails = emails + ', ' + patient.telecom[i].value %>
                                    <% } else { %> 
                                        <% emails = emails + patient.telecom[i].value %>
                                        <% emailCheck = true %> 
                                    <% } %> 
                                        
                                <% } else if (patient.telecom[i].system == 'phone') { %>
                                    <% if (phoneCheck) { %>
                                        <% phones = phones + ', ' + patient.telecom[i].value %>
                                    <% } else { %> 
                                        <% phones = phones + patient.telecom[i].value %>
                                        <% phoneCheck = true %>
                                    <%} %>
                                <% } %> 
                            
                            <% }  %>
                        <% } %>       
                                
                        <div class="row">
                            <div class="col-md-4">
                                <label>Phone : </label>
                                <label style="font-weight:bold"><%= phones %></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">

                                <label>Emails : </label>
                                <label style="font-weight:bold"><%= emails %></label>
                            </div>
                        </div>
                    <div> 
                        <h4>Practitioners in the city</h4> 
                    
                        <div class="row">
                            <% for (var i = 0; i < practitioners.length ; i++) { %>
                               <div class="col-md-4">
                               <label for="family">Name:</label>
                                    <label style="font-weight:bold"><%= practitioners[i].name[0].given[0]%>  <%=practitioners[i].name[0].family%></label>
                               </div>
                               <div class="col-md-4">
                                <label for="family">Address:</label>
                                     <label style="font-weight:bold"><%= practitioners[i].address[0].city%> </label>
                                </div>
                                <div class="col-md-4">
                                    <label for="family">Contact:</label>
                                        <% if (practitioners[i].telecom ) { %> 
                                            <label style="font-weight:bold"> <%= practitioners[i].telecom[0].system %> : <%= practitioners[i].telecom[0].value %></label>
                                        <%} else { %> 
                                            <label style="font-weight:bold"> Not available </label>
                                        <% } %> 
                                         
                                </div>
                            <% } %>
            
                        </div>
                    </div>
                    <div> 
                        <h4>Organizations in the city</h4> 
                        <div class="row">
                            <% for (var i = 0; i < organizations.length ; i++) { %>
                               <div class="col-md-4">
                               <label for="family">Name:</label>
                                    <label style="font-weight:bold"><%= organizations[i].name%></label>
                               </div>
                               <div class="col-md-4">
                                <label for="family">Address:</label>
                                     <label style="font-weight:bold"><%= organizations[i].address[0].city%> </label>
                                </div>
                                <div class="col-md-4">
                                    <label for="family">Contact:</label>
                                        <% if (practitioners[i].telecom ) { %> 
                                            <label style="font-weight:bold"> <%= organizations[i].telecom[0].system %> : <%= organizations[i].telecom[0].value %></label>
                                        <%} else { %> 
                                            <label style="font-weight:bold"> Not available </label>
                                        <% } %> 
                                         
                                </div>
                            <% } %>
                    
                        </div>
                    </div>

                        <%- include ('./partials/health_conditions.ejs') %>
                            <%- include ('./partials/health_allergies.ejs') %>

                    </div>
                    <% } else { %>
                        <p class="text-center">athlete Not Found. Go <a href="/add">here</a> to add athletes.</p>
                        <% } %>
    </div>
    </div>
    </body>

    </html>