<%- include ('./partials/header.ejs') %>
    <div class="container">
        <% if (message) { %>
            <p class="text-center text-danger">
                <%= message %>
            </p>
            <% } %>

                <% if (athlete) { %>
                    <form class="add-athlete-form" action="" method="post" enctype="json">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="given">First Name</label>
                                <input type="text" class="form-control" name="Given" id="Given" value="<%= athlete.Given %>" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="family">Last Name</label>
                                <input type="text" class="form-control" name="Family" id="Family" value="<%= athlete.Family %>" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="identifier">identifier</label>
                                <input type="text" class="form-control" name="Identifier" id="Identifier" value="<%= athlete.Identifier %>">
                            </div>
                            <div class="form-group col-md-4 ">
                                <label for="gender">Gender</label>
                                <input type="text " class="form-control " name="Gender" id="Gender" value="<%= athlete.Gender %>">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="birthDate">birthDate</label>
                                <input type="text" class="form-control" name="birthDate" id="birthDate" value="<%= athlete.birthDate %>">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="Team">Team</label>
                                <input type="text" class="form-control" name="Team" id="Team" value="<%= athlete.Team %>">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="Position">Position</label>
                                <input type="text" class="form-control" name="Position" id="Position" value="<%= athlete.Position %>">
                            </div>


                        </div>
                        <button type="submit" class="btn btn-success float-right">Update athlete</button>
                    </form>
                    <% } else { %>
                        <p class="text-center">athlete Not Found. Go <a href="/add">here</a> to add athletes.</p>
                        <% } %>
    </div>
    </div>
    </body>

    </html>