<!-- Assignment L05-1: Terminology Services -->


<%- include('./partials/header.ejs') %>
    <div class="container">
     
            <form class="search-terminology-form" action="" method="post" enctype="json">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="Search">Search SNOMED CT Concept</label>
                        <input type="text" class="form-control"  name="SCTID" id="SCTID" placeholder="Enter SCTID" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary float-right">Search</button>
            </form>
            <% if (message) {%> 
                <div class="table-wrapper">
                    <h4> Concept </h4>
            
                    <table class="table table-hovered">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Code</th>
                                <th scope="col">String</th>
                            </tr>
                       
                        </thead>
                        <tbody>
            
                            <tr> 
                                <th scope="col"><%= concept.code%> </th>
                                <th scope="col"><%= concept.valueString%> </th>
                            </tr>
                
                        </tbody>
                    </table>
                    <h4> Synonym </h4>
                    <table class="table table-hovered">
            
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Code</th>
                                <th scope="col">String</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                                <% for (var i =0; i < synonyms.length; i++){ %>
                                    <tr>
                                    <td><%=synonyms[i].code%></td>
                                    <td><%=synonyms[i].valueString%></td> 
                                </tr>
                                <% } %>
                          
                        </tbody>
                    </table>
                    <h4> Parents </h4>
                    <table class="table table-hovered">
            
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Code</th>
                                <th scope="col">String</th>
                            </tr>
                        </thead>
                        <tbody>
            
                                <% for (var i =0; i < parents.length; i++){ %>
                                    <tr>
                                    <td><%=parents[i].code%></td>
                                    <td><%=parents[i].valueString%></td> 
                                    </tr>
                                <% } %>
                             
                        </tbody>
                    </table>
            
                    <h4> Children </h4>
                    <table class="table table-hovered">
            
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Code</th>
                                <th scope="col">String</th>
                            </tr>
                        </thead>
                        <tbody>
            
                        
                                <% for (var i =0; i < children.length; i++){ %>
                                    <tr>
                                    <td><%=children[i].code%></td>
                                    <td><%=children[i].valueString%></td> 
                                </tr>
                               <% } %>
                            
                
                        </tbody>
                    </table>
                </div>
                <% } %> 
    </body>

    </html>